{% extends 'account/account_base.html' %} {% block auth_content %}
<form method="POST" class="mt-11">
  {% csrf_token %}
  <div class="form__group flex flex-col mb-6">
    <label for="email" class="mb-2 text-base">Email</label>
    <input
      class="form-input rounded-md border-[rgba(28, 28, 28, 0.2)] placeholder:text-[rgba(28, 28, 28, 0.2)]"
      type="email"
      name="email"
      id="email"
      placeholder="eg. person@gmail.com"
      required
    />
  </div>

  <div class="form__group flex flex-col">
    <label for="password" class="mb-2 text-base">Password</label>
    <input
      class="form-input rounded-md border-[rgba(28, 28, 28, 0.2)] placeholder:text-[rgba(28, 28, 28, 0.2)]"
      type="password"
      name="password"
      placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;"
      id="password"
      required
    />
  </div>

  <div class="form__group mt-6">
    <button
      class="bg-primary font-semibold text-lg w-full text-[#ffffff] rounded-lg py-2"
      type="submit"
    >
      Login
    </button>
  </div>

  <footer class="flex justify-center items-center flex-col mt-16">
    <p>
      Do you not have an account?
      <a class="text-primary font-semibold" href="{% url 'register' %}"
        >SignUp!</a
      >
    </p>
    <!-- <p>Do you forget your password? <a href="">Forgot Password!</a></p> -->
  </footer>
</form>
{% endblock auth_content %}
