<nav class="border-b pb-6 border-[#1c1c1c]/10">
  <ul class="flex gap-3 text-[#1c1c1c]/40 text-sm">
    <div class="flex gap-3">
      <li>
        <a
          class="transition-all hover:text-[#1c1c1c]"
          href="{% url 'dashboard-sessions' %}"
          >Sessions</a
        >
      </li>
      /
      <li>
        <a
          class="{% if 'create-time' in request.path or 'update-time' in request.path %}text-[#1c1c1c]{% endif %}"
          href="{% if mode %}{% url 'update-session' session_id %}{% else %}{% url 'create-session' %}{% endif %}"
          >{% if mode %}{{mode}}{% else %}Create{% endif %} Time</a
        >
      </li>
    </div>
    -
    <div class="flex gap-3">
      <li>
        <a
          class="{% if 'study-time' in request.path %}text-[#1c1c1c]{% endif %}"
          href="{% if session_id %}{% url 'session-study-time' session_id %}{% endif %}"
          >Study Time</a
        >
      </li>
      -
      <li>
        <a
          class="{% if 'upload-notes' in request.path %}text-[#1c1c1c]{% endif %}"
          href="{% if session_id %}{% url 'session-upload-notes' session_id %}{% endif %}"
          >Upload Note Pictures</a
        >
      </li>
    </div>
  </ul>
</nav>
